
.privet {

color: white;
background: red;
width: 100px;
height: 30px;

}

.prosto {

font-size: 20px;
font-weight: bold;
background: blue;
width: 400px;
height: 70px;

}
.oformi {

font-size: 20px;
font-weight: bold;
background: yellow;
width: 400px;
height: 70px;

}
