


div {
	background-color: rgb(214, 215, 190);
	}

h1 {
	color: rgb(81, 35, 6);
}

h2 {
	color: rgb(78, 124, 144);
}

h3 {
	color: rgb(131, 86, 83);
}

p{
	color: rgb(173, 132, 81);
}

a{
color: rgb(92, 119, 101);
}